.footer-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
    gap: 1rem;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--Grey);
    padding: 1rem;
    gap: 2rem;
}

.description {
    display: flex;
    flex-direction: column;
    width: 445px;
    gap: 2rem;
    padding: 1rem;
}

.description span {
    width: 100%;
    font-size: 88px;
    font-weight: 700;
    width: fit-content;
}

.description p {
    font-size: 18px;
    font-weight: 400;
    color: var(--Grey);
    width: fit-content;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 1rem;
}

.contact-form form input {
    padding: 1rem;
    border: none;
    background-color: var(--Dark-Grey);
    border-bottom: 1px solid var(--Grey);
    color: white;

}

.contact-form form input:focus {
    outline: none;
    border-bottom: 1px solid var(--Green);

}

.contact-form form textarea {
    padding: 1rem;
    border: none;
    resize: none;
    background-color: var(--Dark-Grey);
    border-bottom: 1px solid var(--Grey);
    color: white;
}

.contact-form form textarea:focus {
    outline: none;
    border-bottom: 1px solid var(--Green);
}

.contact-form form button {
    padding: 1rem;
    border: none;
    width: fit-content;
    background: transparent;
    border-bottom: 1px solid var(--Green);
    color: white;
    text-align: center;
    margin-left: auto;
    cursor: pointer;
}

.contact-form form button:hover {
    color: var(--Green);
}

.bottom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.bottom-navbar a {
    text-decoration: none;
    color: white;
}

.contact-list {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.email-input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.error-message {
    color: red;
    text-align: right;
}

@media screen and (max-width: 980px) {

    /* Navbar Section */
    .contact-form {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .description {
        align-items: center;
        text-align: center;
    }

    .description span {
        font-size: 72px;
        text-align: center;
    }



}


@media screen and (min-width: 220px) and (max-width: 600px) {

    .footer-main-container {
        padding: 0;
        gap: 1rem;
    }

    .contact-form {

        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .description {
        width: 80%;
        text-align: center;
        gap: 1rem;
        width: 375px;
    }

    .description span {
        font-size: 40px;
        text-align: center;
    }

    .description p {
        font-size: 16px;
    }

    .contact-form form {
        width: 100%;
    }

    .bottom-navbar {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .bottom-navbar span {
        font-size: 24px;
        font-weight: 700;
    }

}